*{
    padding: 0px;
    margin: 0;
    box-sizing: border-box;
    

}
body{
    background-image: url(manglees.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
}