*{
    padding: 0px;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}
body{
    background-image: url(fanf2.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
}
.container{
    display: flex;
    
}
header{
    border: px solid rgb(255, 0, 0);
    display: flex;
    height: 100vh;
    width: 70vh;
    justify-content: end;
    flex-wrap: wrap;
}
.five{
    border: px solid rgb(145, 255, 0);
    height: 50vh ;
    width: 50vh;
    margin-top: 50px;
} 
p,.p1,.p2{
    font-size: inherit; /* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
}
.menu{
    border: px solid blue;
    height: 30vh;
    width: 50vh;
}
a{
    text-decoration: none;
    cursor: pointer;
    color: white;
}
a:hover{
    color: brown;
}
@media(min-width: 768px) and (max-width: 1524px){
    .five{
        font-size: 4rem;
    }
}
@media(min-width: 768px) and (max-width: 1524px){
    .menu{
        font-size: 3rem;
    }
}
@media(min-width: 1600px) and (max-width: 1920px){
    .five{
        font-size: 6rem;
    }
}
@media(min-width: 1600px) and (max-width: 1920px){
    .menu{
        font-size: 5rem;
    }
}

